# Ignore all .env files
*.env

# Don't ignore .template.env
!*.template.env

# Ignore the entire Overarch folder
/Overarch/

# Ignore the entire terraform_cache folder
/terraform_cache/

# Ignore the entire gcloud_cache folder
/gcloud_cache/

# Ignore driver.py
/driver.py